<header th:fragment="header">
    <h1 th:text="${nameHeader}"></h1>
    <div class="header-icons">
        <span class="material-symbols-rounded">home</span>
        <span class="material-symbols-rounded">login</span>
    </div>
</header>


<nav th:fragment="menu-nav">
  <!--Fragment: menu side -->
  <div class="menu-container">
    <img id="primary-logo" th:src="@{/imgs/main_logo_menu.png}" alt="primary-logo">
    <ul class="menu-list">
      <li class="menu-item"><span class="material-symbols-rounded">
          manage_accounts
        </span>Account</li>
      <li class="menu-item"><span class="material-symbols-rounded">
          group_add
        </span>Employees</li>
      <li class="menu-item"><span class="material-symbols-rounded">
          store
        </span>My stores</li>
      <li class="menu-item">
          <span class="material-symbols-rounded">inventory</span>
          <a class="menu-link" th:href="@{/products}">Inventory</a>
      </li>
      <li class="menu-item"><span class="material-symbols-rounded">
          currency_exchange
        </span><a class="menu-link" href="#">Sales</a></li>
      <li class="menu-item"><span class="material-symbols-rounded">
          sync_alt
        </span>Returns</li>
      <li class="menu-item"><span class="material-symbols-rounded">
          calculate
        </span>Expenses</li>
      <li class="menu-item">
          <span class="material-symbols-rounded">local_shipping</span>
          <a class="menu-link" th:href="@{/suppliers}">Suppliers</a>
      </li>
      <li class="menu-item"><span class="material-symbols-rounded">
          settings
        </span>Settings</li>
    </ul>

    <div class="nav-footer">
        <img th:src="@{/imgs/main_logo_menu.png}" alt="secondary-logo">
        <p>Todos los derechos reservados a Lancer Company</p>
    </div>
  </div>
</nav>





