<header th:fragment="header">
    <h1>Inventary</h1>
    <div class="header-icons">
        <span class="material-symbols-rounded">home</span>
        <span class="material-symbols-rounded">login</span>
    </div>
</header>


<nav th:fragment="menu-nav">
  <!--Fragment: menu side -->
  <div class="menu-container">
    <img id="primary-logo" th:src="@{/imgs/main_logo_menu.png}" alt="primary-logo">
    <ul class="menu-list">
      <li class="menu-item"><span class="material-symbols-rounded">
          manage_accounts
        </span>Cuenta</li>
      <li class="menu-item"><span class="material-symbols-rounded">
          group_add
        </span>Personal</li>
      <li class="menu-item"><span class="material-symbols-rounded">
          store
        </span>Mis tiendas</li>
      <li class="menu-item"><span class="material-symbols-rounded">
          inventory
        </span><a class="menu-link" th:href="@{/products}">Inventario</a></li>
      <li class="menu-item"><span class="material-symbols-rounded">
          currency_exchange
        </span><a class="menu-link" href="#">Ventas</a></li>
      <li class="menu-item"><span class="material-symbols-rounded">
          sync_alt
        </span>Devoluciones</li>
      <li class="menu-item"><span class="material-symbols-rounded">
          calculate
        </span>Egresos</li>
      <li class="menu-item"><span class="material-symbols-rounded">
          local_shipping
        </span>Proveedores</li>
      <li class="menu-item"><span class="material-symbols-rounded">
          settings
        </span>Configuración</li>
    </ul>

    <div class="nav-footer">
        <img src="imgs/main_logo_menu.png" alt="secondary-logo" srcset="">
        <p>Todos los derechos reservados a Lancer Company</p>
    </div>
  </div>
</nav>





