<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap}">
  <link rel="stylesheet"
        th:href="@{https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,0}"/>
  <link rel="stylesheet" th:href="@{/css/fragments-style.css}">
  <link rel="stylesheet" th:href="@{/css/show-sales.css}">
  <link rel="shortcut icon" th:href="@{/imgs/logo_gavi.png}" type="image/x-icon">
  <title>Gavi Pro</title>
</head>

<body>
  <!--Header-->
  <div th:replace="fragments :: header"></div>
  <!--Menu-->
  <div th:replace="fragments :: menu-nav"></div>

  <main>
    <section class="modal">
      <div class="content-modal modal-close">
        <span class="close">&times;</span>
        <h3>Sale detail</h3>
        <article class="detail-list">
          <table class="detail-table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Code sale</th>
                <th>Product code</th>
                <th>Product name</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Unit price</th>
                <th>Subtotal</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>12/10/2024</td>
                <td>FVT-03184</td>
                <td>123456</td>
                <td>PAPA CAPIRA SIN LAVAR</td>
                <td>KG</td>
                <td>5</td>
                <td>350.0</td>
                <td>1250.0</td>
              </tr>

            </tbody>
          </table>
        </article>

        <article class="values">
          <div class="values-group">
            <p><strong>Subtotal</strong></p>
            <p>9700</p>
          </div>
          <div class="values-group">
            <p><strong>Subtotal taxes</strong></p>
            <p>3450</p>
          </div>
          <div class="values-group">
            <p><strong>Profit</strong></p>
            <p>2130</p>
          </div>
        </article>
      </div>
    </section>

    <section class="btns-main">
      <a th:href="@{/sales}" class="btn-actions">
        <span class="material-symbols-rounded">
          receipt_long
        </span>Show sales
      </a>
      <a th:href="@{/sales/create-sale}" class="btn-actions">
        <span class="material-symbols-rounded">
          currency_exchange
        </span>Create a sale
      </a>
    </section>

    <hr>

    <section class="search-sale">
      <h4>Search a sale</h4>
      <form class="form-search">
        <div class="search-input">
          <label for="sale-code">Sale code</label>
          <input type="text" id="sale-code" name="sale-code" required>
        </div>
        <input type="button" value="Search">
      </form>
    </section>

    <section class="sale-list">
      <table class="sale-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Code</th>
            <th>Subtotal</th>
            <th>Total</th>
            <th>Payment method</th>
            <th>See details</th>
          </tr>
        </thead>

        <body>
          <tr th:each="sale : ${salesList}">
            <td th:text="${sale.cretaedAt}"></td>
            <td th:text="${sale.code}"></td>
            <td th:text="${sale.subtotal}"></td>
            <td th:text="${sale.total}"></td>
            <td th:text="${sale.paymentMethod}"></td>
            <td>
              <a class="btn-td details-btn" href="#">
                <span class="material-symbols-rounded">
                  view_list
                </span>
              </a>
            </td>
          </tr>
        </body>
      </table>
    </section>


  </main>

  <script th:src="@{/scripts/sales.js}"></script>
  <script th:src="@{/scripts/fragment-script.js}"></script>
</body>

</html>